@import "typography.css";


.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Header Styles */
h1 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
    font-size: 2.5em;
    font-weight: bold;
}

h3 {
    color: #34495e;
    margin-bottom: 10px;
    border-bottom: 2px solid #3498db;
    padding-bottom: 5px;
}

/* Task List Styles */
ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #ecf0f1;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

li:hover {
    background-color: #dcdde1;
}

li strong {
    font-size: 1.2em;
}

li a {
    margin-left: 10px;
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

li a:hover {
    color: #2980b9;
}

/* Completed Task Styles */
.completed {
    text-decoration: line-through;
    color: #7f8c8d;
}

/* Button Styles */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-align: center;
    margin-top: 20px;
}

.btn:hover {
    background-color: #2980b9;
}

@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }

    .container {
        margin: 20px;
        padding: 15px;
    }

    li {
        flex-direction: column;
        align-items: flex-start;
    }

    li a {
        margin-left: 0;
        margin-top: 10px;
    }

    .btn {
        width: 90%;
        text-align: center;
    }
}
